.principal {
    width: 100%;
    background-image: url("C:\Users\MMora\Programacao\VisualStudio\netflix-copy\netflix\src\imgs\bigImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}