* {
    box-sizing: border-box;
    font-family: myFont;
}

.app {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
}

@font-face {
    font-family: myFont;
    src: url(netflix-sans-font/NetflixSans-Regular.woff2);
}